<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ah.push">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <service android:name=".MyInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".RegistrationIntentService"
            android:exported="false">
        </service>


        <receiver android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.ah.push" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".DisplayActivity"
            android:label="Device">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".DisplayPhoneActivity"
            android:label="Device">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:label="Device list">
            <intent-filter>
                <action android:name = "android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name=".BarcodeCaptureActivity"
            android:label="Read Barcode"/>

        <activity android:name=".AddActivity"
            android:label="Add a new device"/>

        <activity
            android:name=".ListItem"
            android:label="Add device">
        </activity>

        <activity
            android:name=".login.AuthenticationActivity"
            android:label="Authentication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        //hold until will be fixed (google issue)
        //Failed resolution of: [Lorg/apache/http/Header
        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        //Sensors
        <activity android:name=".SensorsActivity" android:label="Sensor list"/>

        <activity android:name=".sensors.SensAccelerometerActivity" android:label="Accelerometer"/>
        <activity android:name=".sensors.SensGyroscopeActivity" android:label="Gyroscope"/>
        <activity android:name=".sensors.SensLightActivity" android:label="Light sensor"/>
        <activity android:name=".sensors.SensLinearAccelerometerActivity" android:label="Linear accelerometer"/>
        <activity android:name=".sensors.SensMagnetometerActivity" android:label="Magnetometer"/>
        <activity android:name=".sensors.SensOrientationActivity" android:label="Orientation sensor"/>
        <activity android:name=".sensors.SensProximityActivity" android:label="Proximity sensor"/>
        <activity android:name=".sensors.SensRotationVectorActivity" android:label="Rotation vector sensor"/>
        <activity android:name=".sensors.SensSignificantMotionActivity" android:label="Significant motion sensor"/>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

</manifest>